body {
	background-color : #ffffff;
}

p, li, h1, h2, h3, h4, h5, h6 {
      font-family : Verdana, helvetica, sans-serif;
}

h1 {
	font-size : 150%;
}

#container {
	border : 1px solid #bbbbbb;
}

#header {
	height : 63px;
	width : 100%;
	background-color: #ffcc99;
	margin : 0px;
	padding : 0px;
}

#header p {
	float : right;
	text-align : right;
	padding-right : 5px;
	font-weight : bold;
	color : #444444;
	margin-top : 2px;
}

#header img {
	border : 0px;
	margin : 0px;
	padding : 0px

}

#mainpage {
	margin-top : 0px;
	padding : 0px;
}

#navigation {
	background-color: #ff9900;
	padding : 2px;
}

#navigation ul {
	list-style-type: none;
	display : inline;
	font-family : Verdana, helvetica, sans-serif;
	padding : 0px;
	font-size : 100%;
	margin-left : 10px;
}

#navigation ul li {
	display : inline;
	padding : 8px;
	margin-top : 5px;
}

#navigation ul li A:link {
	color : #330099;
	padding : 2px;
	text-decoration : none;
}


#navigation ul li A:hover  { 
	color: #0000ff;
	background-color : #ffcc99;
	text-decoration: underline; 
}

#navigation ul li A:visited  { 
	color: #330099; 
	text-decoration: none;
}

#navigation ul li A:visited:hover  {
	color: #0000ff;
	background-color : #ffcc99;
	text-decoration: underline;
}


#content {
	padding-left : 5px;
}

#footer {
	border-top : 1px solid #ff9900;
	border-bottom : 1px solid #ff9900;
	background-color : #ffcc99;
	
}

#footer p {
	text-align : center;
	padding : 5px;
	margin : 0px
}