/* Slightly modified YUI reset.css */

html {
    color: #000;
    background: #FFF;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

li {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

q:before, q:after {
    content: '';
}

abbr, acronym  {
    border: 0;
    font-variant: normal;
}

sup  {
    vertical-align: text-top;
}

sub  {
    vertical-align: text-bottom;
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

legend {
    color: #000;
}

/* Layout */

body {
    background: #E8EFF7; /* Pale blue background */
    text-align: center; /* Centre page in IE5.5 */
    min-width: 974px; /* Ensure scroll bars appear in Netscape 6 */
    font-family: arial, helvetica, clean, sans-serif;
    font-size: 100%; /* Fix em-based font sizing in IE */
}

#wrapper {
    color: #000;
    background: #FFF;
    width: 974px;
    margin: 0px auto;
    padding-right: 7px;
    text-align: left; /* Needed for IE5.5 page centreing */
    font-size: 0.8em; /* 16px x 0.8 = 12.8px */
}

#col1col2wrapper {
    margin-top: 17px;
    width: 774px;
    float: left;
    margin-bottom: 10px; /* Margin above footer */
}

#col1 {
    clear: left; /* Honour #menu's margin-bottom in IE6 */
    width: 443px;
    float: left;
    padding-left: 7px; /* Left-hand margin of page */
}

#col2 {
    width: 300px;
    float: right;
    padding: 0 12px 0 6px;
    border-left: 1px solid #C4C4C4; /* Grey divider */
    font-size: 0.8em; /* 12.8px x 0.8 = 10.24px */
}

#col3 {
    float: left;
    margin-top: 97px; /* Height of banner above column */
    margin-bottom: 10px; /* Margin above footer */
    width: 160px;
    min-width: 120px;
    max-width: 200px;
    font-size: 0.8em; /* 12.8px x 0.8 = 10.24px */
}

#banner {
    float: left;
    margin: 17px 0 10px 7px;
}

#leaderboard {
    max-width: 774px;
}

#header {
    width: 755px;
    clear: both;
    margin-bottom: 10px;
    padding-left: 7px; /* Left-hand margin of page */
    overflow: hidden; /* Clear floats so margin-bottom is honoured */
}

/* Gilder/Levin image replacement */
#header #logo {
    width: 213px;
    height: 71px;
    position: relative;
    float: left;
    overflow: hidden; /* Ensure large text doesn't overflow */
    color: #CC6600; /* Orange text */
}

#header #logo a {
    background: url(images/logoLarge.png) no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}

#header #headercol1 {
    width: 221px;
    float: left;
    padding: 0 7px;
}

#header #headercol2 {
    width: 170px;
    float: right;
    padding-left: 7px;
}

#header #headercol2 form label {
    display: block;
}

#header #headercol2 form #query {
    width: 99px;
}

#header #headercol3 {
    width: 114px;
    min-height: 81px;
    float: right;
    padding: 0 7px;
    border-left: 1px solid #C4C4C4; /* Grey divider */
    border-right: 1px solid #C4C4C4; /* Grey divider */
}

#header #headercol3 ul {
    font-size: 0.9em; /* 12.8px x 0.9 = 11.52px */
    color: #CC6600; /* Orange text */
}

#header #headercol2 form label, #header #headercol3 p.date {
    font-size: 1.1em; /* 12.8px x 1.1= 14.08px */
    font-weight: bold;
    margin-bottom: 4px;
    color: #CC6600; /* Orange text */
}

#menu {
    overflow: hidden; /* Clear floats so margin-bottom is honoured */
    margin-bottom: 10px;
    padding-left: 7px; /* Left-hand margin of page */
}

#menu ul {
    width: 755px;
    font-family: 'trebuchet ms';
    font-weight: bold;
    float: left;
}

#menu ul li {
    float: left;
}

#menu ul li.region {
    font-weight: normal;
}

#menu ul li a {
    display: block;
}

#ribbon {
    margin-bottom: 10px;
    padding-left: 7px; /* Left-hand margin of page */
}

#ribbon img {
    width: 755px;
}

#footertop {
    width: 967px;
    clear: left;
    padding: 7px 0 20px 0;
    margin-left: 7px; /* Left-hand margin of page */
    border-top: 18px solid #E2E2E2; /* Grey divider */
    overflow: hidden; /* Clear floats */
}

#footertop .box {
    float: left;
    margin-left: 14px;
    width: 180px;
    display: inline;
}

#footertop .box.first {
    margin-left: 6px;
}

#footertop .box.orange {
    background: url(images/footerboxtileorange.png) repeat-y;
}

#footertop .box.blue {
    background: url(images/footerboxtileblue.png) repeat-y;
}

#footertop .box .heading {
    padding: 4px 7px;
    font-family: 'trebuchet ms';
    font-size: 1.4em; /* 12.8px x 1.4 = 17.92px */
}

#footertop .box.orange .heading {
    /* Dark orange background */
    background: #C86801 url(images/footerboxtoporange.png) no-repeat left top;
}

#footertop .box.blue .heading {
    /* Dark blue background */
    background: #018DC8 url(images/footerboxtopblue.png) no-repeat left top;
}

#footertop .box .heading a {
    color: #FFF; /* White text */
    display: block;
    text-decoration: none;
}

#footertop .box img {
    padding: 0 3px;
}

#footertop .box p {
    padding: 0 5px 5px 5px;
}

#footertop .box.orange p {
    background: url(images/footerboxbottomorange.png) no-repeat left bottom;
}

#footertop .box.blue p {
    background: url(images/footerboxbottomblue.png) no-repeat left bottom;
}

#footertop .box p a {
    color: #000; /* Black text */
    text-decoration: none;
}

#footerbottom {
    width: 967px;
    padding-top: 20px;
    margin-left: 7px; /* Left-hand margin of page */
    border-top: 1px solid #E2E2E2; /* Grey divider */
    overflow: hidden; /* Clear floats */
    font-size: 0.9em; /* 12.8px x 0.9 = 11.52px */
}

#footerbottom #footerbottomcol1 {
    float: left;
    min-width: 180px;
    margin: 0 7px 10px 15px;
    font-weight: bold;
}

#footerbottom #footerbottomcol2 {
    float: left;
    margin: 0 30px 10px 0;
}

#footerbottom #footerbottomcol3 {
    float: left;
}

/* Generic content */

table {
    font-size: inherit;
    width: 100%;
}

table td {
    vertical-align: top;
    padding: 2px;
}

pre, code, kbd, samp, tt {
    font-family: monospace;
}

blockquote {
	background-color: #EEEEEE; /* Grey background */
	margin: 5px 10px;
	padding: 5px;
}

input, select, textarea {
	font-size: 0.9em;
}

a {
    text-decoration: none;
    color: #CC6600; /* Orange text */
}

a:hover {
    text-decoration: underline;
}

h1 a, h2 a {
    color: #000; /* Black text */
}

h1, h2, h3, h4, h5, h6 {
	font-family: georgia, 'palatino linotype', 'book antiqua';
	margin-bottom: 4px;
}

h1 {
	font-size: 2.3em; /* 12.8px x 2.3 = 29.44px */
}

h2 {
	font-size: 1.25em; /* 12.8px x 1.25 = 16px */
    margin-top: 0.8em;
}

h3, h4, h5, h6 {
	font-size: 1em; /* 13px x 1 = 13px */
}

.title {
	font-family: 'trebuchet MS';
	background-color: #E2E2E2; /* Grey background */
	margin-bottom: 4px;
	padding: 1px 0;
}

.title span {
	background-color: #669ACC; /* Blue background */
	color: #FFF; /* White text */
	font-weight: bold;
	padding: 1px 3px;
}

#col1 .title {
    font-size: 0.85em; /* 12.8px x 0.85 = 10.88px */
}

#col1 p, #col2 p, #col3 p {
    margin: 1em 0;
}

#col1 ul {
    padding-left: 40px;
    margin: 1em 0;
}

#col1 ul li {
    list-style: disc outside;
}

#col1 ul.not {
	line-height: 1.5em;
    padding: 0;
	margin: 10px 0;
}

#col1 ul.not li {
    list-style: none;
}

#col2 .title, #col3 .title, #col2 .panel, #col3 .panel {
    font-size: 1.1em; /* 10.24px x 1.1 = 11.264px */
    margin-bottom: 8px;
}

#col2 .panelDiv, #col3 .panelDiv {
    margin-bottom: 8px;
}

#col2 .panel {
	background-color: #669ACC; /* Blue background */
	color: #FFF; /* White text */
	font-weight: bold;
	padding: 1px 3px;
}

#col2 ul {
    margin-bottom: 8px;
}

#col2 ul li, #col2 ol li {
    padding-bottom: 6px;
}

#col2 #mostpopular2 {
    display: none;
}

#col2 #mostpopular1, #col2 #mostpopular2, #col2 div.more {
	font-weight: bold;
    font-size: 1.1em; /* 10.24px x 1.1 = 11.264px */
}

#col2 div.more {
    margin-bottom: 10px;
}

#col2 #mostpopular1 div.title span a, #col2 #mostpopular2 div.title span a {
    color: #FFF; /* White text */
    text-decoration: none;
}

#col2 #mostpopular1 div.title span.off,
#col2 #mostpopular2 div.title span.off,
#col2 #mostpopular1 div.title span.off a,
#col2 #mostpopular2 div.title span.off a {
    background-color: #E2E2E2; /* Grey background */
    color: #CC6600; /* Orange text */
}

#col2 #mostpopular1 ol, #col2 #mostpopular2 ol {
    padding-left: 2.2em;
}

#col2 #mostpopular1 ol li, #col2 #mostpopular2 ol li {
    list-style: decimal outside;
}

#col2 .panelDiv {
	float: left;
	width: 146px;
}

#col3 .panelDiv {
    background-color: #F0D7BB; /* Pale orange background */
    padding-bottom: 5px;
}

#col3 .panelDiv .panel {
	background-color: #CC6600; /* Orange background */
	color: #FFF; /* White text */
	font-weight: bold;
	padding: 1px 3px;
}

#col3 .panelDiv .forum {
    background: #CC6600 url(images/community.gif) no-repeat right top;
}

#col3 .panelDiv ul, #col3 .panelDiv div.other {
    padding: 0 2px;
}

#col3 .panelDiv ul li {
    clear: left;
}

#col3 .panelDiv ul li .datetime, #col3 .panelDiv ul li .description {
    float: left;
    padding-bottom: 3px;
}

#col3 .panelDiv ul li .datetime {
    width: 20%;
}

#col3 .panelDiv ul li .description {
    width: 80%;
}

#col3 .textAd {
	background-color: #E2E2E2; /* Grey background */
	color: #6F6F6F; /* Dark grey text */
	padding: 3px;
	margin-bottom: 8px;
}

#col3 .textAd strong {
    font-size: 1.1em; /* 10.24px x 1.1 = 11.264px */
}

#col3 div#jobsminifeed {
    font-size: 1.1em; /* 10.24px x 1.1 = 11.264 */
    margin-bottom: 10px;
}

#col3 div#jobsminifeed p {
    font-weight: bold;
    font-size: 1.1em; /* 11.264px x 1.1 = 12.3904px */
    margin: 0;
}

#col3 div#jobsminifeed p.jobtitle {
    font-size: 1.2em; /* 12.3904px x 1.2 = 14.86848px */
    margin-top: 10px;
}

#col3 div#jobsminifeed a {
    color: #597CA6; /* Blue text */
}

#col3 div#jobsminifeed ul {
    margin-top: 6px;
    margin-bottom: 3px;
}

#col3 div#jobsminifeed ul li {
    list-style-image: url(images/arrow_orange_inverse.png);
    margin-left: 17px;
}

strong, b, .bold {
    font-weight: bold;
}

.italic {
	font-style: italic;
}

.small {
	font-size: 0.8em;
}

.large {
	font-size: 1.65em;
}

.right {
    text-align: right;
}

.print {
	display: none;
}

.red, .red a {
	color: #FF0000; /* Red text */
}

.black {
	color: #000; /* Black text */
}

/* Article */

#col1 img.right {
	float: right;
	margin: 5px 0 7px 7px;
}

#col1 div.options {
    padding: 5px 0px;
    border-top: 1px solid #EEEEEE; /* Grey divider */
    border-bottom: 1px solid #EEEEEE; /* Grey divider */
}

#col1 div.options table {
        font-size: 0.8em; /* 12.8px x 0.8 = 10.24px */
    font-weight: bold;
}   

/* Headlines */

.newsSummary {
    border-bottom: 1px solid #EEEEEE; /* Grey divider */
    margin-bottom: 10px;
}

.newsSummary h2 {
    margin-top: 0;
}

.newsSummary h1.hsmall, .newsSummary h2.hsmall {
    font-size: 1.25em; /* 12.8px x 1.25 = 16px */
}

.newsSummary h1.hmedium, .newsSummary h2.hmedium {
	font-size: 1.65em; /* 12.8px x 1.65 = 21.12px */
}

.newsSummary h1.hlarge, .newsSummary h2.hlarge {
	font-size: 2em; /* 12.8px x 2 = 25.6px */
}

.newsSummary h1.hhuge, .newsSummary h2.hhuge {
	font-size: 2.3em; /* 12.8px x 2.3 = 29.44px */
}

.newsSummary h1.hhugebold, .newsSummary h2.hhugebold {
	font-size: 3em; /* 12.8px x 3 = 38.4px */
    font-weight: bold;
	font-family: arial, helvetica, clean, sans-serif;
}

.newsSummary h1.hgiganticbold, .newsSummary h2.hgiganticbold {
	font-size: 5em; /* 12.8px x 5 = 64px */
    font-weight: bold;
	font-family: arial, helvetica, clean, sans-serif;
}

.tabloid {
    color: #FFF; /* White text */
    background-color: #000; /* Black background */
    font-weight: bold;
    font-size: 1.2em; /* 12.8px x 1.2 = 15.36px */
	font-family: "arial black", arial, helvetica, clean, sans-serif;
    padding: 0 5px;
}

.newsSummary img.normal {
    float: left;
    margin: 5px 7px 7px 0;
}

/* Stockholm */

#menu.stockholm {
    background: #E2E2E2 url(images/stockholmmenu.png) repeat-x bottom;
    margin-top: 0px;
    margin-bottom: 1px;
    margin-left: 7px; /* Left-hand margin of page */
    width: 748px;
    height: 18px;
    padding: 6px 7px 0 0;
    text-align: right;
    font-size: 0.9em; /* 12.8px x 0.9 = 11.52px */
}

#menu.stockholm a {
    color: #FFF; /* White text */
}

ul#stockholmmenu {
    background: #F8F2D0 url(images/stockholmmenugradient.png) repeat-x bottom;
    width: 755px;
    float: left;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-bottom: 1px;
}

ul#stockholmmenu li {
    list-style: none;
    float: left;
    padding: 7px 13px;
    border-left: 1px solid #FFFFCA;
    border-right: 1px solid #CCC084;
}

ul#stockholmmenu li.first {
    border-left: none;
}

ul#stockholmmenu li a {
    color: #282D8D; /* Dark blue text */
}

#col1 #stockholm {
    float: left;
    width: 734px;
    /* Grey border */
    border-top: solid 11px #E8ECF8;
    border-bottom: solid 17px #E8ECF8;
    border-left: solid 10px #E8ECF8;
    border-right: solid 11px #E8ECF8;
}

#col1 #stockholmrow1, #col1 #stockholmrow2,
#col1 #stockholmrow3, #col1 #stockholmrow4 {
    clear: both;
    overflow: hidden;
}

#col1 #stockholmintro {
    float: left;
    width: 384px;
    position: relative;
}

#col1 #stockholmvitalvisit {
    float: right;
    width: 350px;
}

#col1 #stockholmintro p {
    margin: 11px 0 24px 0;
    font-size: 1.2em; /* 10.88px x 1.2 = 13.056px */
    padding: 0 5px;
}

#col1 #stockholmintro img#stockholmstromma {
    position: absolute;
    top: 194px;
    right: 5px;
}

#col1 #stockholmintro #stockholmwhatwanttodo {
    position: absolute;
    top: 220px;
    width: 384px;
    height: 80px;
    background: #FAE892; /* Yellow background */
}

#col1 #stockholmintro #stockholmwhatwanttodo p {
    font-size: 1.7em;
    margin-bottom: 6px;
    color: #283DBB; /* Dark blue text */
}

#col1 #stockholmintro #stockholmwhatwanttodo form {
    text-align: center;
}

#col1 #stockholmintro #stockholmwhatwanttodo form select {
    position: relative;
    top: -10px;
    border: 1px solid #B6B9C0; /* Grey border */
}

#col1 #stockholmrow2 {
    border-top: solid 8px #E8ECF8; /* Grey border */
    background-color: #E8ECF8; /* Grey background */
}

#col1 #stockholmsummer {
    float: left;
    width: 382px;
    border-left: 1px solid #B6B9C0; /* Grey border */
    border-right: 1px solid #B6B9C0; /* Grey border */
    border-bottom: 1px solid #B6B9C0; /* Grey border */
    background-color: #FFF; /* White background */
}

#col1 #stockholmnews {
    float: right;
    width: 328px;
    padding: 2px 11px 10px 11px;
}

#col1 #stockholmnews h2 {
    font-size: 1.8em; /* 10.88px x 1.8 = 19.584px */
    margin: 0;
    padding: 0;
}

#col1 #stockholmnews h3 {
    margin: 15px 0 2px 0;
    padding: 0;
}

#col1 #stockholmnews h3 a {
    color: #000; /* Black text */
    font-family: arial, helvetica, clean, sans-serif;
    font-weight: bold;
}

#col1 #stockholmnews p {
    margin: 0;
    padding: 0;
}

#col1 #stockholmnews p a {
    color: #000; /* Black text */
    font-size: 0.85em; /* 10.88px x 0.85 = 9.248px */
    font-weight: bold;
}

#col1 #stockholmrow4 img {
    border-bottom: solid 6px #E8ECF8; /* Grey border */
}

#col1 #stockholmpracticalities {
    float: left;
    width: 323px;
}

#col1 #stockholmpracticalities ul {
    margin: 12px 0 0 6px;
    padding: 0;
}

#col1 #stockholmpracticalities ul li {
    list-style: none;
    padding-bottom: 15px;
    font-size: 0.9em;
}

#col1 #stockholmpracticalities ul li a {
    color: #000; /* Black text */
    font-weight: bold;
}

#col1 #stockholmweather {
    float: right;
    width: 400px;
    padding: 4px 3px 3px 3px;
}

#col1 #stockholm #stockholmcontent {
    padding: 0 17px;
}

#col1 .stockholmimages {
    padding-left: 17px;
    float: left;
    width: 350px;
}

#col1 .stockholmimages p {
    margin-top: 7px;
    margin-bottom: 3px;
}
